* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.drum-pad {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: space-around;
  width: 350px;
  height: 350px;
  background-color: cornflowerblue;
  border-left: 3px solid rgb(136, 164, 216);
  border-top: 3px solid rgb(136, 164, 216);
  border-right: 3px solid rgb(73, 124, 219);
  border-bottom: 3px solid rgb(73, 124, 219);
  border-radius: 5px;
  box-shadow: 1px 5px 3px 2px rgb(75, 75, 75);
}

.sampler {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 90px;
  width: 90px;
  margin: 7px;
  padding: 3px;
  border-left: 3px solid rgb(92, 199, 140);
  border-top: 3px solid rgb(92, 199, 140);
  border-right: 3px solid rgb(33, 150, 86);
  border-bottom: 3px solid rgb(33, 150, 86);
  border-radius: 10px;
  background-color: mediumseagreen;
  box-shadow: 2px 6px 3px rgb(67, 100, 161);
  transition-property: box-shadow;
  transition-duration: 50ms;
}

.depressed {
  box-shadow: 1px 1px 0px rgb(67, 100, 161);
  transition-property: box-shadow;
  transition-duration: 50ms;
}
