* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visualiser-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  height: 350px;
  width: 650px;
  opacity: 1;
  animation: blend 1s;
}

.visualiser-text {
  color: white;
  opacity: 1;
  animation: blend 1s;
}

@keyframes blend {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
