.meter-box {
  height: 150px;
  width: 20px;
  border: solid 2px red;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.level {
  transition-property: height;
  transition-duration: 40ms;
  background-color: red;
  height: 0;
  width: 100%;
}
