* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.App {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.sampler {
  box-shadow: 5px 5px 5px lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  padding: 3px;
}

.audition {
  /* background-color: green; */
  /* height: 15px; */
  /* width: 15px; */
  /* border-color: green; */
  border-left: 10px solid green;
  border-top: 7px solid transparent;
  border-bottom: 8px solid transparent;
  /* border-right: 0px solid green; */
  /* border-top */
}

.audition:active {
  border-left-color: red;
}
