* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(134, 134, 134);
  background-image: radial-gradient(rgb(134, 134, 134, 0.5), grey), url("./images/synth-background.jpg");
  background-blend-mode: difference;
  overflow: hidden;
  font-family: "Orbitron", sans-serif;
}

.non-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.app-text {
  margin: 10px;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.machine-container {
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-flow: row nowrap;
  /* height: 375px; */
  /* width: 1150px; */
  /* padding: 10px; */
  justify-content: center;
  background-color: rgb(110, 110, 110, 0.5);
  box-shadow: 1px 5px 3px 3px rgba(0, 0, 0, 0.336);
}

.drum-pad {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  height: 350px;
  width: 350px;
  background-color: rgb(209, 209, 209);
  border-left: 3px solid rgb(236, 236, 236);
  border-top: 3px solid rgb(236, 236, 236);
  border-right: 3px solid rgb(167, 167, 167);
  border-bottom: 3px solid rgb(167, 167, 167);
  border-radius: 5px;
  /* box-shadow: 1px 5px 3px 2px rgb(110, 110, 110); */
}

.master-controls-box {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  height: 350px;
}

.controls-seam-filler {
  position: absolute;
  top: 0px;
  left: 97px;
  width: 6px;
  height: 120px;
  background-color: rgb(209, 209, 209);
  border-top: 3px solid rgb(236, 236, 236);
  border-bottom: 3px solid rgb(167, 167, 167);
  border-bottom-right-radius: 5px;
}
