* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  height: 100vh;
  background-color: rgb(134, 134, 134);
}

.main-container {
  display: flex;
  flex-flow: row nowrap;
  height: 375px;
  width: 1150px;
  padding: 10px;
  justify-content: center;
  overflow: auto;
}

.drum-pad {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  height: 350px;
  width: 350px;
  max-width: 650px;
  min-width: 350px;
  background-color: cornflowerblue;
  border-left: 3px solid rgb(136, 164, 216);
  border-top: 3px solid rgb(136, 164, 216);
  border-right: 3px solid rgb(73, 124, 219);
  border-bottom: 3px solid rgb(73, 124, 219);
  border-radius: 5px;
  box-shadow: 1px 5px 3px 2px rgb(110, 110, 110);
}

.master-controls-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  height: 350px;
}
